.antonLogo {
    font-family: 'Indie Flower', cursive;
    font-size: 54px;
    color: #287a41;
    text-decoration: none;
    transition: 0.5s;
    float: left;
    margin: 5px 25px;
}
.antonLogo:hover{
    text-decoration: none;
    color: #287a41;
    transition: 0.5s;
}
.a {
    width: 100%;
}
.antonActive {
    color:#287a41 !important;
}
.nav-link {
    font-size: 18px;
    font-family: 'Arvo', serif;
}
.box {
    overflow: hidden;
}
.box img {
    transition: 1s;
}
.box img:hover {
    transform: scale(1.15);
    transition: 1s;
}
/*.antonbutton {
    background-color: #287a41 !important;
}*/
h4 {
    color: #287a41 !important;
}
a.antonbutton { /* Old browsers */
    /*background: -moz-linear-gradient(left, #38a7ff 0%, #38a7ff 33%, #23e7e5 66%, #38a7ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #287a41 0%,#287a41 33%,#6dcf8b 66%,#287a41 100%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to right, #38a7ff 0%,#38a7ff 33%,#23e7e5 66%,#38a7ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a7ff', endColorstr='#38a7ff',GradientType=1 ); /* IE6-9 */
    background-size: 300% 100%; background-position: left center;
    border: none;
    transition: 0.4s;
}
a.antonbutton:hover{ background-position: right center; transition: 0.4s;}
